openapi: 3.2.0
info:
  title: SYSTRAN Translate & NLP Language Detection API
  description: RESTful API for SYSTRAN machine translation and natural language processing.
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Language Detection
paths:
  /nlp/lid/detectLanguage:
    get:
      tags:
      - Language Detection
      operationId: detectLanguage
      summary: Detect the language of a text
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      parameters:
      - name: input
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detected language and confidence.
  /nlp/lid/supportedLanguages:
    get:
      tags:
      - Language Detection
      operationId: lidSupportedLanguages
      summary: List languages the detector can recognize
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      responses:
        '200':
          description: Supported languages.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
