openapi: 3.0.3
info:
  title: SYSTRAN Translate & NLP Corpus Profiles API
  description: 'RESTful API for SYSTRAN machine translation and natural language processing. The Translate API (server https://api-translate.systran.net) covers text, HTML, and file translation, supported-language discovery, user dictionaries, corpora (translation memory), and translation profiles. The SYSTRAN.io / Platform NLP surface (server https://api-platform.systran.net) adds language detection, morphology, tokenization, segmentation, and named entity recognition. Authenticate with an API key passed as the `key` query parameter or an `Authorization` header.


    Endpoint status: paths under /translation, /resources, and /profiles are grounded in the published docs.systran.net Translate API reference (confirmed). Paths under /nlp are modeled from the historical SYSTRAN.io / Platform NLP service and marked with `x-endpoint-status: modeled`.'
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Profiles
paths:
  /profiles:
    get:
      tags:
      - Profiles
      operationId: listProfiles
      summary: List profiles
      responses:
        '200':
          description: Profiles.
  /profiles/create:
    post:
      tags:
      - Profiles
      operationId: createProfile
      summary: Create a profile
      responses:
        '200':
          description: Profile created.
  /profiles/delete:
    post:
      tags:
      - Profiles
      operationId: deleteProfile
      summary: Delete a profile
      responses:
        '200':
          description: Profile deleted.
  /profiles/activate:
    post:
      tags:
      - Profiles
      operationId: activateProfile
      summary: Activate a profile
      responses:
        '200':
          description: Profile activated.
  /profiles/deactivate:
    post:
      tags:
      - Profiles
      operationId: deactivateProfile
      summary: Deactivate a profile
      responses:
        '200':
          description: Profile deactivated.
  /profiles/{id}/permissions:
    get:
      tags:
      - Profiles
      operationId: getProfilePermissions
      summary: Get profile permissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Permissions.
    post:
      tags:
      - Profiles
      operationId: updateProfilePermissions
      summary: Update profile permissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Permissions updated.
  /translationResources:
    get:
      tags:
      - Profiles
      operationId: listTranslationResources
      summary: List translation resources
      responses:
        '200':
          description: Translation resources.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
