openapi: 3.0.3
info:
  title: SYSTRAN Translate & NLP Corpus Language Detection API
  description: 'RESTful API for SYSTRAN machine translation and natural language processing. The Translate API (server https://api-translate.systran.net) covers text, HTML, and file translation, supported-language discovery, user dictionaries, corpora (translation memory), and translation profiles. The SYSTRAN.io / Platform NLP surface (server https://api-platform.systran.net) adds language detection, morphology, tokenization, segmentation, and named entity recognition. Authenticate with an API key passed as the `key` query parameter or an `Authorization` header.


    Endpoint status: paths under /translation, /resources, and /profiles are grounded in the published docs.systran.net Translate API reference (confirmed). Paths under /nlp are modeled from the historical SYSTRAN.io / Platform NLP service and marked with `x-endpoint-status: modeled`.'
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Language Detection
paths:
  /nlp/lid/detectLanguage:
    get:
      tags:
      - Language Detection
      operationId: detectLanguage
      summary: Detect the language of a text
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      parameters:
      - name: input
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detected language and confidence.
  /nlp/lid/supportedLanguages:
    get:
      tags:
      - Language Detection
      operationId: lidSupportedLanguages
      summary: List languages the detector can recognize
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      responses:
        '200':
          description: Supported languages.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
