openapi: 3.0.3
info:
  title: SYSTRAN Translate & NLP Corpus Dictionary API
  description: 'RESTful API for SYSTRAN machine translation and natural language processing. The Translate API (server https://api-translate.systran.net) covers text, HTML, and file translation, supported-language discovery, user dictionaries, corpora (translation memory), and translation profiles. The SYSTRAN.io / Platform NLP surface (server https://api-platform.systran.net) adds language detection, morphology, tokenization, segmentation, and named entity recognition. Authenticate with an API key passed as the `key` query parameter or an `Authorization` header.


    Endpoint status: paths under /translation, /resources, and /profiles are grounded in the published docs.systran.net Translate API reference (confirmed). Paths under /nlp are modeled from the historical SYSTRAN.io / Platform NLP service and marked with `x-endpoint-status: modeled`.'
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Dictionary
paths:
  /resources/dictionary/lookup:
    get:
      tags:
      - Dictionary
      operationId: dictionaryLookup
      summary: Look up dictionary entries
      parameters:
      - name: source
        in: query
        schema:
          type: string
      - name: target
        in: query
        schema:
          type: string
      - name: input
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Dictionary matches.
  /resources/dictionary/lookup/supportedLanguages:
    get:
      tags:
      - Dictionary
      operationId: dictionaryLookupSupportedLanguages
      summary: List languages supported by dictionary lookup
      responses:
        '200':
          description: Supported languages.
  /resources/dictionary/supportedLanguages:
    get:
      tags:
      - Dictionary
      operationId: dictionarySupportedLanguages
      summary: List languages supported by user dictionaries
      responses:
        '200':
          description: Supported languages.
  /resources/dictionary/list:
    post:
      tags:
      - Dictionary
      operationId: listDictionaries
      summary: List user dictionaries
      responses:
        '200':
          description: Dictionaries.
  /resources/dictionary/add:
    post:
      tags:
      - Dictionary
      operationId: addDictionary
      summary: Create a user dictionary
      responses:
        '200':
          description: Dictionary created.
  /resources/dictionary/update:
    post:
      tags:
      - Dictionary
      operationId: updateDictionary
      summary: Update a user dictionary
      responses:
        '200':
          description: Dictionary updated.
  /resources/dictionary/delete:
    post:
      tags:
      - Dictionary
      operationId: deleteDictionary
      summary: Delete a user dictionary
      responses:
        '200':
          description: Dictionary deleted.
  /resources/dictionary/export:
    post:
      tags:
      - Dictionary
      operationId: exportDictionary
      summary: Export a user dictionary
      responses:
        '200':
          description: Dictionary export.
  /resources/dictionary/apply:
    post:
      tags:
      - Dictionary
      operationId: applyDictionary
      summary: Apply a user dictionary
      responses:
        '200':
          description: Dictionary applied.
  /resources/dictionary/entry/list:
    post:
      tags:
      - Dictionary
      operationId: listDictionaryEntries
      summary: List dictionary entries
      responses:
        '200':
          description: Entries.
  /resources/dictionary/entry/add:
    post:
      tags:
      - Dictionary
      operationId: addDictionaryEntry
      summary: Add a dictionary entry
      responses:
        '200':
          description: Entry added.
  /resources/dictionary/entry/update:
    post:
      tags:
      - Dictionary
      operationId: updateDictionaryEntry
      summary: Update a dictionary entry
      responses:
        '200':
          description: Entry updated.
  /resources/dictionary/entry/delete:
    post:
      tags:
      - Dictionary
      operationId: deleteDictionaryEntry
      summary: Delete a dictionary entry
      responses:
        '200':
          description: Entry deleted.
  /resources/dictionary/entry/import:
    post:
      tags:
      - Dictionary
      operationId: importDictionaryEntries
      summary: Import dictionary entries
      responses:
        '200':
          description: Entries imported.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
