openapi: 3.2.0
info:
  title: SYSTRAN Translate & NLP Supported Languages API
  description: RESTful API for SYSTRAN machine translation and natural language processing.
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Supported Languages
paths:
  /translation/supportedLanguages:
    get:
      tags:
      - Supported Languages
      operationId: getSupportedLanguages
      summary: List supported language pairs
      parameters:
      - name: source
        in: query
        schema:
          type: string
      - name: target
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Supported language pairs.
  /translation/supportedFeatures:
    get:
      tags:
      - Supported Languages
      operationId: getSupportedFeatures
      summary: List available model options by language pair
      responses:
        '200':
          description: Supported features.
  /translation/supportedFormats:
    get:
      tags:
      - Supported Languages
      operationId: getSupportedFormats
      summary: List supported input/output formats
      responses:
        '200':
          description: Supported formats.
  /translation/supportedSelectors:
    get:
      tags:
      - Supported Languages
      operationId: getSupportedSelectors
      summary: List available domains, owners, and sizes
      responses:
        '200':
          description: Supported selectors.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
