openapi: 3.2.0
info:
  title: SYSTRAN Translate & NLP Corpus API
  description: RESTful API for SYSTRAN machine translation and natural language processing.
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Corpus
paths:
  /resources/corpus/list:
    get:
      tags:
      - Corpus
      operationId: listCorpora
      summary: List corpora
      responses:
        '200':
          description: Corpora.
  /resources/corpus/add:
    post:
      tags:
      - Corpus
      operationId: addCorpus
      summary: Create a corpus
      responses:
        '200':
          description: Corpus created.
  /resources/corpus/import:
    post:
      tags:
      - Corpus
      operationId: importCorpus
      summary: Import corpus content
      responses:
        '200':
          description: Corpus imported.
  /resources/corpus/details:
    get:
      tags:
      - Corpus
      operationId: getCorpusDetails
      summary: Get corpus details
      responses:
        '200':
          description: Corpus details.
  /resources/corpus/match:
    get:
      tags:
      - Corpus
      operationId: matchCorpus
      summary: Match segments against a corpus
      responses:
        '200':
          description: Matches.
  /resources/corpus/update:
    post:
      tags:
      - Corpus
      operationId: updateCorpus
      summary: Update a corpus
      responses:
        '200':
          description: Corpus updated.
  /resources/corpus/delete:
    post:
      tags:
      - Corpus
      operationId: deleteCorpus
      summary: Delete a corpus
      responses:
        '200':
          description: Corpus deleted.
  /resources/corpus/segment/list:
    get:
      tags:
      - Corpus
      operationId: listCorpusSegments
      summary: List corpus segments
      responses:
        '200':
          description: Segments.
  /resources/corpus/segment/add:
    post:
      tags:
      - Corpus
      operationId: addCorpusSegment
      summary: Add a corpus segment
      responses:
        '200':
          description: Segment added.
  /resources/corpus/segment/update:
    post:
      tags:
      - Corpus
      operationId: updateCorpusSegment
      summary: Update a corpus segment
      responses:
        '200':
          description: Segment updated.
  /resources/corpus/segment/delete:
    post:
      tags:
      - Corpus
      operationId: deleteCorpusSegment
      summary: Delete a corpus segment
      responses:
        '200':
          description: Segment deleted.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
