openapi: 3.2.0
info:
  title: SYSTRAN Translate & NLP Profiles API
  description: RESTful API for SYSTRAN machine translation and natural language processing.
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Profiles
paths:
  /profiles:
    get:
      tags:
      - Profiles
      operationId: listProfiles
      summary: List profiles
      responses:
        '200':
          description: Profiles.
  /profiles/create:
    post:
      tags:
      - Profiles
      operationId: createProfile
      summary: Create a profile
      responses:
        '200':
          description: Profile created.
  /profiles/delete:
    post:
      tags:
      - Profiles
      operationId: deleteProfile
      summary: Delete a profile
      responses:
        '200':
          description: Profile deleted.
  /profiles/activate:
    post:
      tags:
      - Profiles
      operationId: activateProfile
      summary: Activate a profile
      responses:
        '200':
          description: Profile activated.
  /profiles/deactivate:
    post:
      tags:
      - Profiles
      operationId: deactivateProfile
      summary: Deactivate a profile
      responses:
        '200':
          description: Profile deactivated.
  /profiles/{id}/permissions:
    get:
      tags:
      - Profiles
      operationId: getProfilePermissions
      summary: Get profile permissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Permissions.
    post:
      tags:
      - Profiles
      operationId: updateProfilePermissions
      summary: Update profile permissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Permissions updated.
  /translationResources:
    get:
      tags:
      - Profiles
      operationId: listTranslationResources
      summary: List translation resources
      responses:
        '200':
          description: Translation resources.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
