openapi: 3.2.0
info:
  title: SYSTRAN Translate NLP API
  description: RESTful API for SYSTRAN machine translation and natural language processing.
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: NLP
paths:
  /nlp/morphology/extractRoots:
    get:
      tags:
      - NLP
      operationId: extractRoots
      summary: Extract morphological roots
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      parameters:
      - name: lang
        in: query
        schema:
          type: string
      - name: input
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Morphological analysis.
  /nlp/tokenization/tokenize:
    get:
      tags:
      - NLP
      operationId: tokenize
      summary: Tokenize text
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      parameters:
      - name: lang
        in: query
        schema:
          type: string
      - name: input
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tokens.
  /nlp/segmentation/segment:
    get:
      tags:
      - NLP
      operationId: segment
      summary: Segment text into sentences
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      parameters:
      - name: lang
        in: query
        schema:
          type: string
      - name: input
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Segments.
  /nlp/ner/extractNamedEntities:
    get:
      tags:
      - NLP
      operationId: extractNamedEntities
      summary: Extract named entities
      x-endpoint-status: modeled
      servers:
      - url: https://api-platform.systran.net
      parameters:
      - name: lang
        in: query
        schema:
          type: string
      - name: input
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Named entities.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
