openapi: 3.0.3
info:
  title: SYSTRAN Translate & NLP Corpus File Translation API
  description: 'RESTful API for SYSTRAN machine translation and natural language processing. The Translate API (server https://api-translate.systran.net) covers text, HTML, and file translation, supported-language discovery, user dictionaries, corpora (translation memory), and translation profiles. The SYSTRAN.io / Platform NLP surface (server https://api-platform.systran.net) adds language detection, morphology, tokenization, segmentation, and named entity recognition. Authenticate with an API key passed as the `key` query parameter or an `Authorization` header.


    Endpoint status: paths under /translation, /resources, and /profiles are grounded in the published docs.systran.net Translate API reference (confirmed). Paths under /nlp are modeled from the historical SYSTRAN.io / Platform NLP service and marked with `x-endpoint-status: modeled`.'
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: File Translation
paths:
  /translation/file/translate:
    post:
      tags:
      - File Translation
      operationId: translateFile
      summary: Translate a file
      description: Submit a document for translation. Set async=true for asynchronous processing.
      parameters:
      - name: source
        in: query
        schema:
          type: string
      - name: target
        in: query
        required: true
        schema:
          type: string
      - name: async
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                input:
                  type: string
                  format: binary
      responses:
        '200':
          description: Translated file or a requestId for async jobs.
  /translation/file/status:
    get:
      tags:
      - File Translation
      operationId: getFileTranslationStatus
      summary: Get async file translation status
      parameters:
      - name: requestId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job status.
  /translation/file/result:
    get:
      tags:
      - File Translation
      operationId: getFileTranslationResult
      summary: Retrieve async file translation result
      parameters:
      - name: requestId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Translated file.
  /translation/file/cancel:
    post:
      tags:
      - File Translation
      operationId: cancelFileTranslation
      summary: Cancel an async file translation request
      parameters:
      - name: requestId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cancelled.
  /translation/file/batch/create:
    post:
      tags:
      - File Translation
      operationId: createTranslationBatch
      summary: Create a translation batch
      responses:
        '200':
          description: Batch created.
  /translation/file/batch/status:
    get:
      tags:
      - File Translation
      operationId: getTranslationBatchStatus
      summary: Get batch status and associated requests
      parameters:
      - name: batchId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch status.
  /translation/file/batch/close:
    post:
      tags:
      - File Translation
      operationId: closeTranslationBatch
      summary: Close a batch (no new requests)
      responses:
        '200':
          description: Batch closed.
  /translation/file/batch/cancel:
    post:
      tags:
      - File Translation
      operationId: cancelTranslationBatch
      summary: Cancel a batch and its ongoing requests
      responses:
        '200':
          description: Batch cancelled.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
