openapi: 3.0.3
info:
  title: SYSTRAN Translate & NLP Corpus Translation API
  description: 'RESTful API for SYSTRAN machine translation and natural language processing. The Translate API (server https://api-translate.systran.net) covers text, HTML, and file translation, supported-language discovery, user dictionaries, corpora (translation memory), and translation profiles. The SYSTRAN.io / Platform NLP surface (server https://api-platform.systran.net) adds language detection, morphology, tokenization, segmentation, and named entity recognition. Authenticate with an API key passed as the `key` query parameter or an `Authorization` header.


    Endpoint status: paths under /translation, /resources, and /profiles are grounded in the published docs.systran.net Translate API reference (confirmed). Paths under /nlp are modeled from the historical SYSTRAN.io / Platform NLP service and marked with `x-endpoint-status: modeled`.'
  version: '1.0'
  contact:
    name: SYSTRAN
    url: https://docs.systran.net/translateAPI/en/
  termsOfService: https://www.systran.net
servers:
- url: https://api-translate.systran.net
  description: SYSTRAN Translate API (translation, dictionary, corpus, profiles)
- url: https://api-platform.systran.net
  description: SYSTRAN.io / Platform NLP surface (language detection and NLP)
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: Translation
paths:
  /translation/text/translate:
    post:
      tags:
      - Translation
      operationId: translateText
      summary: Translate text
      description: Translate one or more text inputs from a source to a target language.
      parameters:
      - name: source
        in: query
        schema:
          type: string
        description: Source language code (auto-detected when omitted).
      - name: target
        in: query
        required: true
        schema:
          type: string
        description: Target language code.
      - name: input
        in: query
        schema:
          type: array
          items:
            type: string
        description: Text input(s) to translate.
      - name: format
        in: query
        schema:
          type: string
          enum:
          - text
          - html
      - name: profile
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Translation output.
  /translation/apiVersion:
    get:
      tags:
      - Translation
      operationId: getTranslationApiVersion
      summary: Get Translation API version
      responses:
        '200':
          description: API version.
  /translation/profiles:
    get:
      tags:
      - Translation
      operationId: listTranslationProfiles
      summary: List translation profiles
      responses:
        '200':
          description: Profiles.
  /translation/feedback/add:
    post:
      tags:
      - Translation
      operationId: addTranslationFeedback
      summary: Submit translation feedback
      responses:
        '200':
          description: Feedback recorded.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: SYSTRAN API key passed as the `key` query parameter.
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as an Authorization header, e.g. `Authorization: Key YOUR_API_KEY`.'
